<!-- views/projeto_card.handlebars -->
<div class="card mb-4">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="/imgs/serpente.png" width="300px" height="300vw" alt="Inventário Logístico" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Jogo Snake</h5>
                <p class="card-text">
                    O projeto do jogo Snake foi desenvolvido em Python usando a biblioteca Pygame. É uma recriação do clássico jogo da cobrinha, onde o jogador controla uma cobra que deve se mover pela tela para comer frutas e crescer. O objetivo é fazer a cobra crescer o máximo possível sem colidir com as bordas da tela ou com o próprio corpo. O jogo possui um sistema de pontuação que registra a quantidade de frutas comidas e exibe a pontuação atual do jogador. Além disso, o jogo também inclui efeitos sonoros e uma interface gráfica simples e intuitiva.
                </p>
                <p class="card-text">
                    <img src="/imgs/python.png" width="40px" height="40px" alt="">
                </p>
            </div>
        </div>
    </div>
</div>
