<!-- views/projeto_card_oliveira_web.handlebars -->
<div class="card mb-4">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Oliveira Web - Jogo em Desenvolvimento</h5>
                <p class="card-text">
                    O jogo "Oliveira Web" está sendo desenvolvido usando a linguagem de programação JavaScript, juntamente com tecnologias como HTML5 e CSS3. O jogo oferece gráficos atraentes e uma jogabilidade envolvente. O objetivo é proporcionar aos jogadores uma experiência única e imersiva, onde eles podem explorar um mundo rico em detalhes e história.
                </p>
                <p class="card-text">
                    Este projeto está em constante evolução, e o desenvolvedor está sempre adicionando novos recursos, aprimorando a jogabilidade e ajustando a dificuldade para tornar o jogo ainda mais emocionante e desafiador. Fique atento às próximas atualizações!
                </p>
                <p class="card-text">
                    <img src="/imgs/js.png" width="40px" height="40px" alt="">
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/imgs/local-na-rede-internet.png" alt="Oliveira Web - Jogo em Desenvolvimento" class="card-img">
        </div>
    </div>
</div>
