<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    
    <style>
        h2{
            font-size: 40px;
            font-weight: 800;
            margin-left: 30px;
        }
    </style>

</body>
</html>




<h2 id="projetos">Projetos</h2>

{{#each projetos}}
<div class="row mb-5">
    <div class="col-md-6 order-md-2">
        <img src="{{imagem}}" alt="{{titulo}}" class="img-fluid">
    </div>
    <div class="col-md-6 order-md-1">
        <h4>{{titulo}}</h4>
        <p>{{descricao}}</p>
    </div>
</div>

{{/each}}
