<!-- views/projeto_card.handlebars -->
<div class="card mb-4">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="/imgs/inventario.png" width="300px" height="300vw" alt="Inventário Logístico" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Inventário Logístico</h5>
                <p class="card-text">
                    O projeto de Inventário Logístico foi desenvolvido em Python e Sqlite para automatizar o processo de rastreamento e controle de estoque em armazéns logísticos. Utilizando técnicas de análise de dados e aprendizado de máquina, o sistema é capaz de otimizar a gestão de estoques, reduzir custos e evitar falhas de abastecimento. Além disso, o projeto oferece uma interface intuitiva para os usuários acompanharem os dados em tempo real e tomarem decisões informadas para aprimorar a eficiência do armazém.
                </p>
                <p class="card-text">
                    <img src="/imgs/python.png" width="40px" height="40px" alt="">
                    <img src="/imgs/sql.png" width="40px" height="40px" alt="">
                </p>
            </div>
        </div>
    </div>
</div>
